@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*font-family: 'Varela Round', sans-serif;*/
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg--color: rgb(217, 85, 80);
  --dark-color: rgb(201, 79, 75);
  --light--color: rgb(224, 99, 95);
  --lightest-color: rgb(243, 158, 155);
  --dark-font: rgb(66, 19, 17);
  --light-font: rgb(83, 61, 60);
  --font: "Varela Round", sans-serif;
  --round-corners: 0.3rem;
}
body {
  font-family: var(--font);
  text-align: center;
}
a {
  text-decoration: none;
}

.timerPage {
  background-color: var(--bg--color);
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  padding-top: 2rem;
  color: white;
  padding-bottom: 3rem;
}
button {
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-family: var(--font);
  cursor: pointer;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
/* HEADER */
header {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  padding-top: 1rem;
  background-color: var(--bg--color);
}
nav {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--dark-color);
  padding-bottom: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  background-color: var(--light--color);
  padding: 0.4rem;
}
button img {
  height: 0.9rem;
  width: auto;
  padding-right: 0.5rem;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4rem;
}
.logo img {
  height: 1.4rem;
  padding-right: 0.5rem;
}
.logo a {
  color: white;
}
/* TIMER SECTION */
section.timer {
  grid-column: 2;
  background-color: var(--light--color);
  border-radius: 0.5rem;
  padding-bottom: 2rem;
}
section.timer button {
  background-color: var(--dark-color);
  font-size: 1rem;
  padding: 0.5rem;
}
.timer {
  font-size: 6rem;
}

section.timer button.start {
  opacity: 1;
  background-color: white;
  color: var(--bg--color);
  font-size: 1.3rem;
  padding: 0.8rem 3.5rem;
  box-shadow: 1px 5px rgb(231, 231, 231);
}

section.working,
section.tasks {
  grid-column: 2;
  padding: 1rem;
}
section.working h4 {
  color: var(--lightest-color);
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
section.tasks .taskHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}
.taskHeader button {
  background-color: var(--light--color);
}
button.menu {
  padding: 0.4rem 0.8rem;
}
button.menu img {
  padding: 0;
}
section.tasks article {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem 0 1rem;
  border-radius: var(--round-corners);
}
.taskList {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
}
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left img {
  padding-right: 0.5rem;
  height: 1.4rem;
}
.secondTask .left {
  color: rgb(173, 173, 173);
  text-decoration: line-through;
}
.taskList .taskProgress {
  color: rgb(173, 173, 173);
}
.taskList article.addTask {
  background-color: var(--dark-color);
  border: 3px dashed var(--lightest-color);
  justify-content: center;
  color: var(--lightest-color);
  cursor: pointer;
}
article.addTask:hover {
  border: 3px dashed rgb(255, 204, 204);
  color: white;
}
article.addTask img {
  opacity: 0.3;
  height: 1.2rem;
  padding-right: 0.5rem;
}
.summation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light--color);
  border-top: 0.7px solid white;
  color: var(--lightest-color);
  padding: 1rem 0 1rem;
}
.summation .big {
  color: white;
  font-size: 1.5rem;
}

/****** TEXT PAAAAAGEGEG */

.textPage {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  text-align: left;
  padding-top: 3rem;
}
.textPage h1,
.textPage section {
  grid-column: 2;
  padding-bottom: 3rem;
}
.textPage h1,
.textPage h2 {
  color: var(--dark-font);
  line-height: 2.5rem;
  padding-bottom: 3rem;
}
.textPage h2::after {
  content: "";
  display: block;
  width: 2rem;
  border-bottom: 4px solid var(--lightest-color);
  padding-top: 1rem;
}
.textPage p {
  color: var(--light-font);
  font-size: 1.1rem;
  line-height: 2rem;
}
.textPage a {
  color: var(--light--color);
  font-weight: bold;
}
ol,
ul {
  line-height: 3rem;
  color: var(--light-font);
  font-size: 1.1rem;
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  color: var(--lightest-color);
}

footer {
  border-top: 1.5px solid rgb(173, 173, 173);
  padding: 2rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--light-font);
}
footer .links a {
  padding: 1rem;
  color: var(--light-font);
}
footer p,
.mwLuv {
  font-family: "Roboto", sans-serif;
}
.mwLuv a {
  font-family: var(--font);
  color: var(--light--color);
  font-weight: bold;
}
footer p {
  font-size: 0.7rem;
}

/* media */

@media screen and (max-width: 890px) {
  header {
    grid-template-columns: 5% 1fr 5%;
  }
  .timerPage {
    grid-template-columns: 10% 1fr 10%;
  }
  nav button span {
    display: none;
  }
  button img {
    padding-right: 0;
  }
  .textPage {
    grid-template-columns: 10% 1fr 10%;
  }
}
